/* purgecss start ignore */
body .st0 {
  @apply transition-all duration-300;
}
/*
body.contact .st0 {
  fill: #2d3748;
}

body.contact .menu--alonso .menu__link {
  color: #2d3748;
}

body.contact .menu--alonso .menu__line {
  background: #2d3748;
}
*/
body.project-post .headroom {
  @apply bg-gray-800 bg-opacity-10;
  @apply backdrop-blur;
}

body.project-post .headroom.headroom--pinned {
  @apply bg-gray-800 bg-opacity-90;
  @apply backdrop-blur;
}

.headroom a:hover span {
  opacity: 1;
}

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  transition: all 800ms ease-in-out;
  @apply backdrop-blur;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
}
.headroom--unpinned {
  position: fixed;
  @apply bg-gray-700 bg-opacity-80 backdrop-blur;
  transform: translateY(0);
}

body.blog .headroom--pinned,
body.blog .headroom--unpinned {
  @apply bg-indigo-800 bg-opacity-95 backdrop-blur;
}

body.project .headroom--pinned,
body.project .headroom--unpinned {
  @apply bg-red-900 bg-opacity-95 backdrop-blur;
}

body.contact .headroom--pinned,
body.contact .headroom--unpinned {
  @apply bg-yellow-500 bg-opacity-95 backdrop-blur;
}

@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  @apply bg-gray-700;
  transform: translateY(0%);
}

/* purgecss end ignore */
