.prose .post-image {
  @apply text-center duration-700 opacity-50 hover:opacity-80 ;
}
.prose .post-image img {
  @apply w-full mx-0 my-2 shadow-xl;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6
 {
  @apply text-white;
}

.prose ul {
  @apply max-w-3xl mx-auto;
}

.prose blockquote {
  @apply max-w-3xl mx-auto;
}

.prose p {
  @apply max-w-3xl mx-auto;
}

.prose a {
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 2px;
  @apply relative inline-block overflow-hidden font-bold text-blue-300;
}

.prose a::before,
.prose a::after {
  pointer-events: none;
  backface-visibility: hidden;
  font-smoothing: antialiased;
}

.prose a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.2s;
  transform: translateY(95%);
  @apply bg-blue-500;
}

.prose a:hover::before,
.prose a:focus::before {
  transform: translateY(0);
}

.button {
  @apply text-white !important;
}

body {
  background-size: 550px;
  transition: all 0.8s;
  background-position: center center;
}
