body .st0 {
  @apply transition-all duration-300;
}

body.contact .st0 {
  fill: #2d3748;
}

body.contact .menu--alonso .menu__link {
  color: #2d3748;
}

body.project-post .headroom {
  background-color: rgba(74, 85, 104, 0.5);
}

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  transition: all 800ms ease-in-out;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
}
.headroom--unpinned {
  position: fixed;
  @apply bg-gray-700;
  transform: translateY(0);
}

@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  @apply bg-gray-700;
  transform: translateY(0%);
}

.menu--alonso .menu__item {
  margin: 0;
}

.menu--alonso .menu__link {
  width: 128px;
  display: inline-block;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  opacity: 0.78;
}

.menu--alonso .menu__link:hover,
.menu--alonso .menu__link:focus {
  color: #929292;
  @apply text-gray-100;
}

.menu--alonso .menu__item--current .menu__link {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  opacity: 1;
}

.menu--alonso .menu__line {
  position: absolute;
  opacity: 0;
  top: -19px;
  left: 0;
  width: 8rem;
  height: 4px;
  pointer-events: none;
  border: 1px solid transparent;
  border-width: 0 2rem;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.menu--alonso .menu__item:nth-child(1).menu__item--current ~ .menu__line {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.menu--alonso .menu__item:nth-child(2).menu__item--current ~ .menu__line {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 1;
}

.menu--alonso .menu__item:nth-child(3).menu__item--current ~ .menu__line {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
  opacity: 1;
}
