html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-800;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

*::-webkit-scrollbar-thumb {
  @apply bg-yellow-600;
}

canvas {
  @apply w-screen h-screen !important;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    right: 0;
    bottom: 0;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  @apply block bg-gray-900 opacity-50;
    position: relative;
    overflow: hidden;
}

.loading-bar {
  height: 3px;
  @apply block bg-gray-200 opacity-100;
  z-index: 99999;
  position: absolute;
  left: 0;
  top: 0;
}